# Generic ignores
*.db
*.db-shm
*.db-wal
*.log
*.pyc
._*
__pycache__

# Dirs to ignore
.cloud
.google.token
.storage
deps

# Files to ignore
.uuid
OZW_Log.txt
google_calendars.yaml
ip_bans.yaml
known_devices.yaml
options.xml
pyozw.sqlite
secrets.yaml
zwcfg_*
zwscene.xml

# Specific keeps
!.gitkeep
